################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServerApp/config/applicationhost.config
/.vs/ServerApp/v16/Server/sqlite3
